.main{
    margin: 30px;
    background-color: white;
}

body{
    background-color: #efefef;
}

.right-bar{
    padding-right: 30px;
    overflow: hidden;
}
.img-avatar{
    width: 38px;
    height: 38px;
}