.main{
    margin: 30px;
    padding: 0 15px 15px 15px;
    background-color: white;
}

body{
    background-color: #efefef;
}

.right-bar{
    padding-right: 30px;
    overflow: hidden;
}
.img-avatar{
    width: 38px;
    height: 38px;
    display: inline-block;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.question-edit{
    color:#999;
}
.comment{
    margin: 10px 5px;
}
.btn-comment{
    float: right;
}